@import url(../css/bootstrap.css);
@import url(../fonts/fonts.css);
body {
  position: relative; }
  body .container-fluid {
    padding: 0; }

a {
  text-decoration: none !important;
  color: black !important; }

section {
  margin-bottom: 15px; }

section.header {
  margin-top: 5px; }
  section.header div span:first-child::after {
    content: ''; }

nav#navbar-example {
  left: 0;
  border-radius: 0;
  border: none;
  min-height: 0;
  font-size: 15px;
  width: 100%;
  z-index: 99;
  background-color: #e6e6e6; }
  nav#navbar-example ul.navCustom li.active a {
    background-color: #e6e6e6;
    border: none;
    border-bottom: solid #90bc3b 2px; }
    nav#navbar-example ul.navCustom li.active a:focus {
      background-color: #e6e6e6; }
    nav#navbar-example ul.navCustom li.active a:hover {
      background-color: #e6e6e6; }

@media (max-width: 767px) {
  ul.navCustom {
    float: none; }
    ul.navCustom li {
      display: inline-block;
      width: 100%;
      padding: 0; }
      ul.navCustom li:last-child {
        margin: 0.25em 0; } }
@media (min-width: 768px) {
  ul.navCustom {
    margin: 0 auto;
    padding: 0; }
    ul.navCustom li {
      padding: 0;
      display: inline-block;
      width: 13%;
      float: left; }
      ul.navCustom li:last-child {
        width: 22%;
        padding: 0.25em 0; } }
#before-after div div:first-child {
  min-height: 362px;
  background: url("../img/imgFlat.jpg") no-repeat top center;
  background-size: cover; }
#before-after div div:last-child div {
  background: url("../img/3-xBackground.jpg") no-repeat top center;
  min-height: 120px;
  background-size: cover;
  height: 120px;
  width: auto;
  margin-bottom: 1px; }
  #before-after div div:last-child div span {
    display: inline-block;
    color: #fff;
    background: #8cc63e;
    padding: 0.5em 1em;
    font-family: "Open Sans Regular";
    font-size: 15px; }

.headSection {
  margin-top: 30px;
  margin-bottom: 30px; }
  .headSection div div.heading {
    float: left; }
    .headSection div div.heading h3 {
      font-family: "Open Sans Regular";
      font-size: 25px;
      margin: 0px; }
  .headSection div div.btn-green-lite a {
    color: #659a00 !important;
    border: solid 1px #90bc3b;
    border-radius: 3px;
    padding: 4px;
    text-decoration: none;
    cursor: pointer;
    font-family: "Open Sans Regular";
    font-size: 15px; }

.production {
  margin-top: 20px; }
  .production div div div {
    border: 1px solid #e6e6e6; }
    .production div div div div {
      min-height: 135px;
      border: none;
      margin: 5%;
      text-align: center; }
      .production div div div div h4 {
        font-size: 20px;
        font-family: "Open Sans Regular"; }
  .production div div:hover div {
    background: url("../img/floor.jpg") no-repeat top center;
    background-size: cover;
    color: #fff; }
    .production div div:hover div div:last-child {
      background: none; }
  .production div div:nth-child(1) div div.image {
    background: url("../img/floor_green.png") no-repeat center #f2f2f2; }
  .production div div:nth-child(1):hover div div.image {
    background: url("../img/floor_white.png") no-repeat center; }
  .production div div:nth-child(2) div div.image {
    background: url("../img/wall_green.png") no-repeat center #f2f2f2; }
  .production div div:nth-child(2):hover div div.image {
    background: url("../img/wall_white.png") no-repeat center; }
  .production div div:nth-child(3) div div.image {
    background: url("../img/sun_green.png") no-repeat center #f2f2f2; }
  .production div div:nth-child(3):hover div div.image {
    background: url("../img/sun_white.png") no-repeat center; }
  .production div div:nth-child(4) div div.image {
    background: url("../img/termo_green.png") no-repeat center #f2f2f2; }
  .production div div:nth-child(4):hover div div.image {
    background: url("../img/termo_white.png") no-repeat center; }

div.content-box {
  border: solid 1px #e6e6e6; }
  div.content-box div:first-child {
    min-height: 190px; }
    div.content-box div:first-child p {
      font-family: "Open Sans Regular";
      margin: 0;
      color: #fff;
      font-size: 18px;
      display: inline-block;
      background: #8cc63e;
      padding: 1em 0.5em; }
  div.content-box div:last-child {
    min-height: 100px;
    margin-bottom: 10px;
    margin-left: 5%; }
    div.content-box div:last-child p {
      font-family: "Open Sans Regular";
      font-size: 15px;
      color: #000; }
    div.content-box div:last-child b {
      font-family: "Open Sans Regular";
      font-size: 20px;
      color: #000; }
    div.content-box div:last-child s {
      font-family: "Open Sans Regular";
      font-size: 15px;
      color: #999; }
  div.content-box:hover {
    box-shadow: 3px 3px 7px 0px gainsboro; }
    div.content-box:hover div:first-child p {
      font-family: "Open Sans Light";
      font-size: 22px; }
    div.content-box:hover div:last-child p {
      color: #518d00; }

section.SuperDeal div:nth-child(1) div:nth-child(1) div:first-child {
  background: url("../img/deals_1.jpg") no-repeat top center;
  background-size: cover; }
section.SuperDeal div:nth-child(1) div:nth-child(1) div:last-child {
  background: none; }
section.SuperDeal div:nth-child(1) div:nth-child(2) div:first-child {
  background: url("../img/deals_2.jpg") no-repeat top center;
  background-size: cover; }
section.SuperDeal div:nth-child(1) div:nth-child(2) div:last-child {
  background: none; }
section.SuperDeal div:nth-child(1) div:nth-child(3) div:first-child {
  background: url("../img/deals_3.jpg") no-repeat top center;
  background-size: cover; }
section.SuperDeal div:nth-child(1) div:nth-child(3) div:last-child {
  background: none; }
section.SuperDeal div:nth-child(1) div:nth-child(4) div:first-child {
  background: url("../img/deals_4.jpg") no-repeat top center;
  background-size: cover; }
section.SuperDeal div:nth-child(1) div:nth-child(4) div:last-child {
  background: none; }
section.SuperDeal div.row2 {
  margin-top: 2%; }
  section.SuperDeal div.row2 div:nth-child(1) div:first-child {
    background: url("../img/deals_1.jpg") no-repeat top center;
    background-size: cover; }
  section.SuperDeal div.row2 div:nth-child(1) div:last-child {
    background: none; }
  section.SuperDeal div.row2 div:nth-child(2) div:first-child {
    background: url("../img/deals_2.jpg") no-repeat top center;
    background-size: cover; }
  section.SuperDeal div.row2 div:nth-child(2) div:last-child {
    background: none; }
  section.SuperDeal div.row2 div:nth-child(3) div:first-child {
    background: url("../img/deals_3.jpg") no-repeat top center;
    background-size: cover; }
  section.SuperDeal div.row2 div:nth-child(3) div:last-child {
    background: none; }
  section.SuperDeal div.row2 div:nth-child(4) div:first-child {
    background: url("../img/deals_4.jpg") no-repeat top center;
    background-size: cover; }
  section.SuperDeal div.row2 div:nth-child(4) div:last-child {
    background: none; }

section.realWoodThis {
  padding-top: 10px;
  background: #f5f5f5; }
  section.realWoodThis div div:nth-child(2) div {
    min-height: 190px; }
    section.realWoodThis div div:nth-child(2) div div:first-child {
      min-height: 130px;
      margin-bottom: 15px; }
    section.realWoodThis div div:nth-child(2) div div:last-child {
      text-align: center; }
      section.realWoodThis div div:nth-child(2) div div:last-child p {
        font-family: "Open Sans Regular";
        font-size: 20px; }
      section.realWoodThis div div:nth-child(2) div div:last-child span {
        font-family: "Open Sans Regular";
        font-size: 15px; }
  section.realWoodThis div div:nth-child(2) div:hover div:last-child p {
    color: #6ea600; }
  section.realWoodThis div div:nth-child(2) div:first-child div:first-child {
    background: url("../img/teamGreen.png") no-repeat center; }
  section.realWoodThis div div:nth-child(2) div:first-child:hover div:first-child {
    background: url("../img/teamWhite.png") no-repeat center; }
  section.realWoodThis div div:nth-child(2) div:nth-child(2) div:first-child {
    background: url("../img/plantsGreen.png") no-repeat center; }
  section.realWoodThis div div:nth-child(2) div:nth-child(2):hover div:first-child {
    background: url("../img/plantsWhite.png") no-repeat center; }
  section.realWoodThis div div:nth-child(2) div:nth-child(3) div:first-child {
    background: url("../img/woodGreen.png") no-repeat center; }
  section.realWoodThis div div:nth-child(2) div:nth-child(3):hover div:first-child {
    background: url("../img/woodWhite.png") no-repeat center; }
  section.realWoodThis div div:nth-child(2) div:last-child div:first-child {
    background: url("../img/pigGreen.png") no-repeat center; }
  section.realWoodThis div div:nth-child(2) div:last-child:hover div:first-child {
    background: url("../img/pigWhite.png") no-repeat center; }

section.bestSeller div:last-child div div:first-child {
  min-height: 135px; }
section.bestSeller div:last-child div div:last-child {
  font-family: "Open Sans Regular"; }
  section.bestSeller div:last-child div div:last-child p:first-child {
    font-size: 23px; }
  section.bestSeller div:last-child div div:last-child p:nth-child(2) {
    font-size: 20px; }
  section.bestSeller div:last-child div div:last-child span {
    font-size: 15px; }
  section.bestSeller div:last-child div div:last-child div {
    margin-top: 10%; }
section.bestSeller div:last-child div:nth-child(1) div:first-child {
  background: url("../img/bestseller_img1.jpg") no-repeat bottom center;
  background-size: cover;
  min-height: 135px; }
section.bestSeller div:last-child div:nth-child(2) div:first-child {
  background: url("../img/bestseller_img2.jpg") no-repeat bottom center;
  background-size: cover; }
section.bestSeller div:last-child div:nth-child(3) div:first-child {
  background: url("../img/bestseller_img3.jpg") no-repeat bottom center;
  background-size: cover; }
section.bestSeller div:last-child div:nth-child(4) div:first-child {
  background: url("../img/bestseller_img4.jpg") no-repeat bottom center;
  background-size: cover; }

.btn-green-dark {
  display: inline-block;
  font-size: 15px;
  font-family: "Open Sans Regular";
  color: #fff !important;
  padding: 0.25em 1em !important;
  border-radius: 4px;
  background-color: #90bc3b !important;
  text-decoration: none; }
  .btn-green-dark a {
    color: #fff !important; }

section.sectionForm {
  background: url("../img/sectionFormBackground.jpg") no-repeat left center;
  background-size: cover;
  color: #fff; }
  section.sectionForm h3 {
    font-family: "Open Sans Regular";
    font-size: 25px; }
  section.sectionForm p {
    font-family: "Open Sans Light";
    font-size: 20px;
    margin: 16px 0; }
  section.sectionForm span {
    font-family: "Open Sans Light";
    font-size: 67px; }
  section.sectionForm select {
    /*for WebKit*/
    -webkit-appearance: none;
    /* for FF */
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    /* for IE */
    -ms-appearance: none;
    appearance: none !important;
    background: rgba(255, 255, 255, 0.7) url("../img/dropdown.png") no-repeat right center;
    color: #fff;
    border-radius: 4px;
    height: 36px;
    width: 92%;
    margin: 16px 4% 16px 0%; }
    section.sectionForm select.lesser {
      width: 42%;
      margin: 4% 8% 4% 0%;
      float: left; }
    section.sectionForm select option {
      background: #c5c5c5; }
  section.sectionForm div div form div:nth-child(2) {
    margin-top: 10%;
    text-align: center; }

section.sectionForm {
  background: url("../img/sectionFormBackground.jpg") no-repeat left center;
  background-size: cover;
  color: #fff; }
  section.sectionForm h3 {
    font-family: "Open Sans Regular";
    font-size: 25px; }
  section.sectionForm p {
    font-family: "Open Sans Light";
    font-size: 20px;
    margin: 16px 0; }
  section.sectionForm span {
    font-family: "Open Sans Light";
    font-size: 67px; }
  section.sectionForm select {
    /*for WebKit*/
    -webkit-appearance: none;
    /* for FF */
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    /* for IE */
    -ms-appearance: none;
    appearance: none !important;
    background: rgba(255, 255, 255, 0.7) url("../img/dropdown.png") no-repeat right center;
    color: #fff;
    border-radius: 4px;
    width: 92%;
    margin: 16px 4% 16px 0%;
    padding-left: 10px; }
    section.sectionForm select.lesser {
      width: 42%;
      margin: 4% 8% 4% 0%;
      float: left; }
    section.sectionForm select option {
      background: #c5c5c5; }

section#slider {
  font-family: "Open Sans Light";
  font-size: 20px; }
  section#slider div.headSection div:last-child span {
    padding: 5px;
    border: solid 1px #e6e6e6;
    cursor: pointer;
    text-align: right;
    float: right; }
    section#slider div.headSection div:last-child span:first-child {
      margin-right: 0px; }
    section#slider div.headSection div:last-child span:last-child {
      margin-left: 0px; }
  section#slider div ul#slider-content {
    color: white; }
    section#slider div ul#slider-content li {
      display: none; }
      section#slider div ul#slider-content li div:first-child div {
        background: none;
        margin: 5% 0 2% 0; }
      section#slider div ul#slider-content li div:last-child {
        background-color: rgba(0, 0, 0, 0.6); }
    section#slider div ul#slider-content li:nth-child(1) {
      background: url("../img/slider.jpg") no-repeat center; }
    section#slider div ul#slider-content li:nth-child(2) {
      background: url("../img/imgFlat.jpg") no-repeat center;
      background-size: cover; }

.slider-active {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  min-height: 400px; }

#ourPlants {
  margin-bottom: 15px; }
  #ourPlants div div.useful div.row div {
    margin-bottom: 11px; }
    #ourPlants div div.useful div.row div div.row {
      margin-bottom: 0; }
      #ourPlants div div.useful div.row div div.row div:first-child {
        margin-bottom: 0; }
        #ourPlants div div.useful div.row div div.row div:first-child img {
          max-height: 125px;
          max-width: 125px; }
      #ourPlants div div.useful div.row div div.row div:last-child {
        margin-bottom: 0; }
        #ourPlants div div.useful div.row div div.row div:last-child h4 {
          font-family: "Open Sans Regular";
          font-size: 20px;
          margin-top: 0; }
        #ourPlants div div.useful div.row div div.row div:last-child p {
          font-family: "Open Sans Regular";
          font-size: 15px; }

#news div div {
  font-family: "Open Sans Regular"; }
  #news div div p:first-child {
    background-color: #6fa900;
    color: #fff;
    padding: 2px 6px;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex; }
  #news div div p {
    font-size: 15px; }
  #news div div h4 {
    font-size: 20px; }

#skilful {
  background: url("../img/pergola.jpg") no-repeat center;
  background-size: cover;
  color: #fff; }
  #skilful div div {
    background-color: rgba(0, 0, 0, 0.5); }
    #skilful div div h4 {
      font-family: "Open Sans Light";
      font-size: 25px; }
    #skilful div div p {
      font-family: "Open Sans Regular";
      font-size: 15px;
      margin-bottom: 10%; }
    #skilful div div div.inform {
      font-family: "Open Sans Light";
      font-size: 20px;
      background: none; }
      #skilful div div div.inform div {
        background: none; }
        #skilful div div div.inform div p {
          margin-bottom: 0; }
    #skilful div div a p {
      font-family: "Open Sans Regular";
      font-size: 15px;
      color: #afe548;
      margin: 15px 0; }
    #skilful div div div {
      background: none; }
    #skilful div div div:last-child {
      margin-bottom: 10px; }

#difficulty_raiting {
  padding-left: 0; }
  #difficulty_raiting li {
    list-style: none;
    float: left;
    width: 19px;
    height: 18px;
    background: url("../img/star_sprite.png") no-repeat;
    margin-right: 2px; }
    #difficulty_raiting li.full {
      background-position: bottom; }
    #difficulty_raiting li.empty {
      background-position: top; }

#woodSpecies div.row:nth-child(2) div a div div {
  height: 270px;
  margin: 0 5px;
  background-size: contain; }
  #woodSpecies div.row:nth-child(2) div a div div div.arrowHover {
    height: 70%; }
  #woodSpecies div.row:nth-child(2) div a div div div {
    margin: 0 5% !important;
    height: 30%;
    background: none; }
    #woodSpecies div.row:nth-child(2) div a div div div p {
      font-family: "Open Sans Regular";
      font-size: 20px;
      text-align: center; }
    #woodSpecies div.row:nth-child(2) div a div div div p:last-child {
      font-size: 17px;
      display: none;
      padding: 2px 5px;
      background: #90bc3b; }
#woodSpecies div.row:nth-child(2) div a:hover div {
  background-color: rgba(0, 0, 0, 0.5); }
  #woodSpecies div.row:nth-child(2) div a:hover div div div.arrowHover {
    background: url("../img/arrow.png") no-repeat center;
    opacity: 1; }
  #woodSpecies div.row:nth-child(2) div a:hover div div div {
    background: none; }
    #woodSpecies div.row:nth-child(2) div a:hover div div div p {
      color: #fff; }
    #woodSpecies div.row:nth-child(2) div a:hover div div div p:last-child {
      display: block; }

.larch {
  background: url("../img/larch.jpg") no-repeat top center;
  background-size: 100%; }
  .larch div {
    margin: 0 !important; }

.pine {
  background: url("../img/pine.jpg") no-repeat top center;
  background-size: 100%; }
  .pine div {
    margin: 0 !important; }

.linden {
  background: url("../img/linden.jpg") no-repeat top center;
  background-size: 100%; }
  .linden div {
    margin: 0 !important; }

.oak {
  background: url("../img/oak.jpg") no-repeat top center;
  background-size: 100%; }
  .oak div {
    margin: 0 !important; }

footer {
  background: #998658;
  color: #fff; }
  footer div {
    margin-top: 15px; }
    footer div div {
      margin-top: 0; }
      footer div div div div {
        margin-top: 5px; }
  footer h3 {
    font-family: "Open Sans Semibold";
    font-size: 20px;
    margin-bottom: 20px; }
  footer p {
    font-family: "Open Sans Light";
    font-size: 15px; }
  footer a p {
    color: #fff; }

#myModal {
  z-index: 99999; }

.modal-header button.close:hover, .modal-header button.close:focus {
  color: #8cc63e;
  opacity: 1; }

#checkForm {
  color: #b3b3b3; }

/*# sourceMappingURL=style.css.map */